.timer-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.timer-container h3 {
    margin : 20px 0
}
.timer-container h2 {
    font-size: 1rem;
    text-align: center;
    font-family: var(--sacramento-font);
}